@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* font-family: "Outfit", sans-serif; */

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media screen and (max-width: 1080px) {
  html {
    font-size: 93.75%; /* 15px */
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 87.5%; /* 14px */
  }
}
