.containerImage {
  background-image: url("../../public/pattern.png");
  background-position: center;
  background-repeat: repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
